@font-face {
  font-family: pokeFont;
  src: url(../fonts/PocketMonk-15ze.ttf);
}
:root {
  --bug: #c6d16e;
  --bug-dark: #6d7815;
  --dark: #a29288;
  --dark-dark: #49392f;
  --dragon: #a27dfa;
  --dragon-dark: #4924a1;
  --electric: #fae078;
  --electric-dark: #a1871f;
  --fairy: #f4bdc9;
  --fairy-dark: #9b6470;
  --fighting: #d67873;
  --fighting-dark: #7d1f1a;
  --fire: #f5ac78;
  --fire-dark: #9c531f;
  --flying: #c6b7f5;
  --flying-dark: #6d5e9c;
  --ghost: #a292bc;
  --ghost-dark: #493963;
  --grass: #a7db8d;
  --grass-dark: #4e8234;
  --ground: #ebd69d;
  --ground-dark: #927d44;
  --ice: #bce6e6;
  --ice-dark: #638d8d;
  --normal: #c6c6a7;
  --normal-dark: #6d6d4e;
  --poison: #c183c1;
  --poison-dark: #682a68;
  --psychic: #fa92b2;
  --psychic-dark: #a13959;
  --rock: #d1c17d;
  --rock-dark: #786824;
  --steel: #d1d1e0;
  --steel-dark: #787887;
  --water: #9db7f5;
  --water-dark: #445e9c;
  --white: #dff9fb;
  --off-white: #bdc3c7;
  --black: #2c3e50;
}
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  font-family: "pokeFont";
  background: #70e1f5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffd194,
    #70e1f5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pokemons-container {
  width: 70%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.loading {
  width: 40px;
  height: 40px;
  border: 10px solid var(--off-white);
  border-radius: 50%;
  border-top: 10px solid var(--black);
  animation: spin 1.5s linear infinite;
}

.recenter {
  position: relative;
  bottom: 50px;
  left: 10px;
  z-index: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.poke-tile {
  border-radius: 20px;
  background-color: rgba(100, 100, 100, 0.6);
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.3rem;
  transition: transform 500ms;
  animation: fadeIn 500ms ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.poke-tile:hover {
  transform: scale(1.15);
  z-index: 1;
  cursor: pointer;
}

.poke-image-container {
  margin: 10px;
  width: 170px;
  height: auto;
  border-radius: 20%;
  background-color: rgba(255, 255, 255, 0.5);
}

.poke-image {
  width: 160px;
  height: auto;
  margin: 20% 0;
  cursor: initial;
}

.col-white {
  color: var(--white);
}

.bg-bug {
  background-color: var(--bug);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-dragon {
  background-color: var(--dragon);
}
.bg-electric {
  background-color: var(--electric);
}
.bg-fairy {
  background-color: var(--fairy);
}
.bg-fighting {
  background-color: var(--fighting);
}
.bg-fire {
  background-color: var(--fire);
}
.bg-flying {
  background-color: var(--flying);
}
.bg-ghost {
  background-color: var(--ghost);
}
.bg-grass {
  background-color: var(--grass);
}
.bg-ground {
  background-color: var(--ground);
}
.bg-ice {
  background-color: var(--ice);
}
.bg-normal {
  background-color: var(--normal);
}
.bg-poison {
  background-color: var(--poison);
}
.bg-psychic {
  background-color: var(--psychic);
}
.bg-rock {
  background-color: var(--rock);
}
.bg-steel {
  background-color: var(--steel);
}
.bg-water {
  background-color: var(--water);
}

.bg-bug-dark {
  background-color: var(--bug-dark);
}
.bg-dark-dark {
  background-color: var(--dark-dark);
}
.bg-dragon-dark {
  background-color: var(--dragon-dark);
}
.bg-electric-dark {
  background-color: var(--electric-dark);
}
.bg-fairy-dark {
  background-color: var(--fairy-dark);
}
.bg-fighting-dark {
  background-color: var(--fighting-dark);
}
.bg-fire-dark {
  background-color: var(--fire-dark);
}
.bg-flying-dark {
  background-color: var(--flying-dark);
}
.bg-ghost-dark {
  background-color: var(--ghost-dark);
}
.bg-grass-dark {
  background-color: var(--grass-dark);
}
.bg-ground-dark {
  background-color: var(--ground-dark);
}
.bg-ice-dark {
  background-color: var(--ice-dark);
}
.bg-normal-dark {
  background-color: var(--normal-dark);
}
.bg-poison-dark {
  background-color: var(--poison-dark);
}
.bg-psychic-dark {
  background-color: var(--psychic-dark);
}
.bg-rock-dark {
  background-color: var(--rock-dark);
}
.bg-steel-dark {
  background-color: var(--steel-dark);
}
.bg-water-dark {
  background-color: var(--water-dark);
}

.poke-type {
  padding: 3px;
  cursor: initial;
}

.navbar {
  padding: 5vh 2vw;
  display: grid;
  grid-column-gap: 5vw;
  grid-template-columns: 1fr 1fr;
}

.navbar__brand-name {
  font-size: 3rem;
  font-weight: 700;
  transition: all 0.5s;
}
.navbar__brand-name:hover {
  transform: scale(1.1) translate(2vw);
}

.navbar__link {
  padding: 10px 1vw;
  text-decoration: none;
  font-size: 2rem;
  color: var(--black);
  opacity: 80%;
  font-weight: 500;
  transition: all 0.5s;
}

.navbar__link::selection {
  opacity: 90%;
}

.navbar__link:hover {
  opacity: 90%;
  border-top: 1px solid var(--black);
  border-right: 10px solid var(--black);
  border-bottom: 10px solid var(--black);
  border-left: 1px solid var(--black);
}

hr {
  width: 95%;
  border-color: var(--black);
}

.heading-primary {
  padding: 5vh 2vw;
  font-size: 1.7rem;
}

.gen-info {
  font-size: 1.7rem;
  display: inline-block;
  margin: 50% 0;
}

.poke-index {
  opacity: 60%;
}

.div--floating {
  min-width: 65%;
  min-height: auto;
  position: absolute;
  top: 50vh;
  left: 10vw;
  right: 10vw;
  z-index: 1;
  background-color: var(--white);
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.5rem;
  animation: fadeIn 400ms ease-in;
}

.fadeAway {
  opacity: 50%;
}

.poke-ability {
  cursor: pointer;
}

.div--floating__img {
  background: var(--white);
  border: 5px solid var(--black);
  border-radius: 10%;
  padding: 10px;
}

svg.div--floating__img {
  width: 190px;
  height: 190px;
}

img.div--floating__img {
  width: 190px;
  height: auto;
}

.div--floating__dex-entry-label {
  font-weight: bold;
}

.div--floating__dex-entry {
  font-weight: bold;
  opacity: 80%;
}

.div--floating__intro {
  margin: auto 0;
}

.poke-stats {
  margin-left: 20px;
}

.div--floating__types,
.div--floating__weak2x-types,
.div--floating__weak_half_x-types,
.div--floating__weak0x-types,
.div--floating__strong2x-types,
.div--floating__strong_half_x-types,
.div--floating__strong0x-types {
  margin: auto 0;
}

.out-of-focus {
  opacity: 50%;
}

.back-in-focus {
  opacity: 100%;
}

.div--floating-close-btn {
  padding: 0;
  background: inherit;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.div--floating-close-btn:hover {
  border: 2px solid var(--black);
}

.div--floating-close-img {
  width: 50px;
  height: 50px;
  fill: var(--black);
}

.div--floating__ability-info {
  background-color: var(--off-white);
  position: absolute;
  top: 555px;
  left: 10px;
  z-index: 1;
  max-width: 40%;
  border-radius: 20px;
  padding: 10px;
}

.div--floating__ability-info::after {
  content: " ";
  position: absolute;
  top: -30px;
  left: var(--left-val, 20%);
  margin-left: -15px;
  border: 15px solid;
  border-color: transparent transparent var(--off-white) transparent;
}

footer {
  text-align: center;
}
